
/* Employee Page Layout */

article {
    background-color: #CCCCCC;
    }
    
h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid #2E2E2E;
    width: 250px;
    opacity: .8;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px; 
}

.info {
    margin-left: 360px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.move {
    float: right;
    width: 300px;
    height: 20px;
    padding-right: 250px;
}

img {
    filter: grayscale(100%);
}

.box {
    background-color: #95DADB;
    opacity: 0.7;
    padding: 3px 5px 3px 12px;
    box-shadow: 4px 4px 2px 2px #A8A8A8;

    
}

