.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    width: 100%;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: #A8A8A8;
    font-size: 24px;
}

.nav a:hover {
    color:#000;
    background-color:#ccc
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: #A8A8A8;
    text-align: center;
}

